body {
  font-family: "Lato", sans-serif;
  color: #d1d1d1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.modal-mask {
  color: black;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  transition: opacity 0.7s ease;
}

.edit {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
}

.delete {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
}


a {
  cursor: pointer;
}

.pagination {
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  padding: 60px;
  text-align: center;
  background-image: url('https://pbs.twimg.com/media/DGArItcW0AAZA-e.jpg');
  color: white;
  font-size: 30px;
  height: 50%;
  filter: grayscale(1) blur(8px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  /* 3 columns */
  grid-template-rows: repeat(2, 150px);
  /* 3 rows  */
  grid-gap: 60% 22%;
  /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

#tableContent {
  border-collapse: separate;
  border-spacing: 2em;
}

.trMovie {
  border-bottom: 1px solid gainsboro;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

#MovTrailers {
  padding-top: 20%;
}

#MovSoon {
  padding-top: 40%;
}

.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-left: 40%;
  width: 100%;
  animation-name: fade;
  animation-duration: 1s;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

#dAt{
  width:50%;
  margin-top: 50;
  margin-bottom: 50;
}

#contentTable {
  border-spacing: 0 1em;
  border-collapse: separate;
}

#title {
  width:50%;
  margin-top: 50;
  margin-bottom: 50;
}

#background{
  background-image: url("https://st2.depositphotos.com/2800301/11048/v/600/depositphotos_110481368-stock-illustration-cinema-icons-set-cinema-pattern.jpg");
}

.container{
  background-color: #2B2B2B ;
}
.headerTitle{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.hero {
  display: flex;
  justify-content: center !important;
  align-items: center;
  width: 100%;
}

.image{
  display: flex;
  margin: 0 5%;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section{
  flex: 1;
}

.image h1{
  color:white;
  padding-top:5%;
  font-size: 30px;
}

